<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.swsd.stardust">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <user-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RegisterActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".view.activity.InfoSettingActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="org.swsd.stardust.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SetUsernameActivity"
            android:label="修改用户名"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".view.activity.setPasswordActivity"
            android:label="修改密码"
            android:theme="@style/MyTheme" />

        <activity android:name=".view.activity.FeedBackActivity"
            android:label="发送反馈"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="org.swsd.stardust.ACTION_FEEDBACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.MainActivity"
            android:theme="@style/MyTheme"/>

        <activity android:name=".view.activity.NoteActivity"/>

        <activity android:name=".view.activity.MeteorDetail"/>

        <activity android:name=".view.activity.WebViewActivity"/>
        <meta-data android:value="b561073b2da04d2ab028e2c5c64128e3" android:name = "ZHUGE_APPKEY"/>
        <meta-data android:value="自定义您的渠道名豌豆荚" android:name = "ZHUGE_CHANNEL"/>
    </application>

</manifest>